@page "/"

@inject IJSRuntime JS

@* <AuthorizeView>
    <NotAuthorized>
        <p>Please login to use the application</p>
    </NotAuthorized>
    <Authorized>

    </Authorized>

 </AuthorizeView>
 *@


<div class="main d-flex flex-column h-100">
    <div class="image-preview flex-fill">
        <img @ref="previewImageElem" style="overflow: hidden"/>
    </div>

     <div class="button-row">
        <label for="inputFile" class="btn me-1 btn-primary">
            
            <InputFile id="inputFile"
                multiple=false
                @ref="inputFile"
                OnChange="@LoadImage" accept="image/*" capture
                class="d-none" />

            <Icon Name="IconName.Camera" Size="IconSize.x5" />
            Take a picture
        </label>


        <Button Color="ButtonColor.Primary" @onclick=@Upload>
            <Icon Name="IconName.CloudUpload" Size="IconSize.x5" />
            Upload
        </Button>

        <Button Color="ButtonColor.Primary" @onclick=@Clear>
            <Icon Name="IconName.CloudUpload" Size="IconSize.x5" />
            Upload
        </Button>
    </div>
</div>

