@inherits LayoutComponentBase

<div class="page d-flex flex-column vh-100">

        <div class="top-row px-4 auth flex-shrink-0 flex-grow-0">
            <LoginDisplay />
        </div>

        <article class="content flex-fill">
            @Body
        </article>

</div>
